@import '../../styles/base/variables.scss';

.sideview {
    position: absolute;
    min-height: calc(100vh - 44px);
    height: 100%;
    width: 20em;
    padding: 0;

    color: #FEFEFE;
    background-color: #24272e;
    border-right: 1px solid #66666666;

        label {
        font-weight: 300;
        margin: 1em;
    }
    
}