
.file-inspector {

    .info-item {
        font-size: 0.9em;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        justify-content:space-between;
    }

    .info-small-text {
        font-size: 0.75em;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 75%;
        white-space: nowrap;
        text-align: right;
    }
}