@import '../../styles/base/variables.scss';

.file-naming-modal {

    button {
        margin-top: 1em;
        margin-bottom: 1em;
        background-color: #2196F3;
        color: #FEFEFE;
        border: 1px solid #44444466;

        &:hover {
            border: 1px solid #FEFEFE;
        }
    }

    .text-input {
        color: #FEFEFE;

        input {
            color: #FEFEFE;
        }
    }
}