@import '../../styles/base/variables.scss';

.viewport {
    position: relative;
    margin-left: 20em;

    color: #FEFEFE;
    background-color: darken($app-background-color, 2%);
}

.view-pixel-info {
    position: absolute;
    left: 1em;
    bottom: 3em;
    z-index: 100;
    color: #FEFEFE66;
}