
.file-metadata-inspector {

    .info-item {
        font-size: 0.9em;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        justify-content:space-between
    }
}

.roi-controls {
    .export-roi {
        margin: 0.5em 0 0 0;
    }
}