
.filedatalist {
    
    .active-file-label {
        text-align: left;
    }

    .filedata-item {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 0.5em 1em;
        cursor: pointer;
        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        
        &:hover {
            background-color: #555555;
        }
    
        label {
            margin: 0 0 0 1em;
            cursor: pointer;
            width: 100%;
        }

        .icon-button {
            border: none;
            width: 24px;
            height: 48px;
            margin: 0;
            padding: 0;

            &:hover { 
                color: #FEFEFE;
            }
        }
    }
}