@import '../../styles/base/variables.scss';

.file-browser {
    color: #FEFEFE;
    background-color: darken($app-background-color, 2%);
    text-align: left;
    height: 100%;

    .file-browser-list {
        max-height: 50vh;
        overflow-y: auto;
    }
}